In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')

In [3]:
new_df = df.sample(30000)
new_df

,id,qid1,qid2,question1,question2,is_duplicate
195772,195772,64205,296316,What is the best way to learn music?,How do I learn music?,1
275544,275544,394368,394369,"What is the difference between 33.33, 45 and 7...",What are the advantages and disadvantages of a...,0
73935,73935,126806,126807,How can I reduce my body weight without doing ...,How can I improve my body weight?,0
153954,153954,241542,241543,At what point in the menstrual cycle do women ...,Why is a woman bleeding during her period?,0
102926,102926,170210,170211,What's the best way to dispose of a body?,What is the best way to dispose of a human bod...,1
...,...,...,...,...,...,...
112124,112124,93127,87672,Why can't I jailbreak my iPhone 6 iOS 10.0.2?,Should I jailbreak my iPhone 6?,0
81783,81783,138796,138797,Which coaching institute is better for cat TIM...,How is IMS Surat for CAT coaching?,0
223712,223712,331601,331602,What is the mechanism of letter of credit?,How do I get a loan with a letter of credit fr...,0
301760,301760,424702,424703,What will happen if one day the Google server ...,What will happen if Google servers went down f...,1
25634,25634,47757,47758,Russia: Why has Russia never joined NATO?,Why does Russia not join NATO?,1

In [4]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [5]:
new_df.duplicated().sum()

0

In [6]:
que_df = new_df[['question1','question2']]
que_df

,question1,question2
195772,What is the best way to learn music?,How do I learn music?
275544,"What is the difference between 33.33, 45 and 7...",What are the advantages and disadvantages of a...
73935,How can I reduce my body weight without doing ...,How can I improve my body weight?
153954,At what point in the menstrual cycle do women ...,Why is a woman bleeding during her period?
102926,What's the best way to dispose of a body?,What is the best way to dispose of a human bod...
...,...,...
112124,Why can't I jailbreak my iPhone 6 iOS 10.0.2?,Should I jailbreak my iPhone 6?
81783,Which coaching institute is better for cat TIM...,How is IMS Surat for CAT coaching?
223712,What is the mechanism of letter of credit?,How do I get a loan with a letter of credit fr...
301760,What will happen if one day the Google server ...,What will happen if Google servers went down f...
25634,Russia: Why has Russia never joined NATO?,Why does Russia not join NATO?

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
questions = list(que_df['question1']) + list(que_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [8]:
temp_df1 = pd.DataFrame(q1_arr,index=que_df.index)
temp_df2 = pd.DataFrame(q2_arr,index=que_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [9]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [10]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
195772,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
275544,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73935,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102926,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112124,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81783,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
223712,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
301760,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
25634,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test, y_pred)

0.7395

In [13]:
!pip install xgboost

Requirement already satisfied: xgboost in /home/manoj/anaconda3/lib/python3.9/site-packages (1.6.2)
Requirement already satisfied: numpy in /home/manoj/anaconda3/lib/python3.9/site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in /home/manoj/anaconda3/lib/python3.9/site-packages (from xgboost) (1.7.3)

In [14]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test, y_pred)

0.722